@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #acacac;
  color: #000000;
  font-family: Raleway, Helvetica, sans-serif;
  position: relative;
}

/* New Stacking Context with Fixed */
.side-nav {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
}

/* To hide the sub-nav */
.wrapper {
  background: #333;
  height: 100vh;
  width: 75px;
}

.three-dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.dot {
  flex-shrink: 0;
  margin: 10px 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
}
.d1 {background: crimson;}
.d2 {background: yellow;}
.d3 {background: lightgreen;}

.nav-bloc {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-bottom: 1px solid #ff7900;
}
.nav-bloc:hover {
  background: rgb(24, 24, 24);
}
.nav-bloc:hover .sub-nav {
  transform: translateX(75px);
}
.nav-bloc svg {
  width: 25px;
  fill: #f2f2f2;
  transition:  0.2s ease-in-out ;
}
.nav-bloc:hover  svg {
  fill: crimson;
}
.sub-nav {
  padding: 0px;
  width: 200px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  z-index: -1;
  color: white;
  /* Hidden at the left side */
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
}
.sub-nav h2 {
  font-family: open sans, sans-serif;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
}
.sub-nav ul {
  list-style-type: none;
}
.sub-nav li {
  padding: 15px;
  /* padding-right: 2rem; */
  margin-right: 2rem;
  margin-top: 30px;
  text-align: center;
  transition: all 0.7s;
}
.sub-nav li:hover {
  background-color:#ff7900;
  color: #000;
  transition: all 0.7s;
}

.sub-nav li a {
   color: #f2f2f2;
   text-decoration: none;
}


.main-content {
  padding-left: 75px;
  color: #f3f3f3;
}
.main-content h1 {
  font-family: Open Sans, sans-serif;
  text-align: center;
  margin: 30px 0;
  font-size: 40px;
}

.main-content p {
  max-width: 780px;
  margin: 0 auto;
  padding: 0 30px;
  line-height: 1.7;
}

.mon-lien {
    margin-top: 110px;
 }

 * {
    font-family: "Trebuchet MS", Tahoma, sans-serif;
}

.button-container {
    position: absolute;
    top: 18rem;
    right: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    margin-left: 20px;
}

.stable {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #272727;
    color: #bebebe;
    
}

.stable tr:nth-of-type(even) {
    background-color: #3f3f3f;
    color: #eeeeee;
}

.bg-custom{
    background-color: rgba(255, 255, 255, 0.849);
    color: #000;
}

h1{
    text-align: center;
    color: #ff7900;
    margin: 50px;
}

.page-link {
    color: #303030; 
}

.page-link:hover {
    color: #d6c3c3; 
}

.stable th {
    background-color: #161616;
    color: #ffffff;
    text-align: center;
    
}

.stable th,
.stable td {
    padding: 12px 15px;
    margin-bottom: 30px;
    
}

.stable tr {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 30px;
}


.stable tr:last-of-type {
    border-bottom: 30px solid #acacac;
    
}

div#add{
    position: relative;
    left: 85%;
}


#mon-lien {
    margin-top: 110px;
 }

 #nbelt {
    border-radius: 20px;
 }
 #nbelt:hover {
    border-radius: 20px;
    background-color: #222;
    color: #bebebe;
    transition: all 0.5s ease-in-out;
 }
 
 
span {
  font-family: 'Bebas Neue', cursive;
  font-size: 1em;
  left: 50%; 
  transform: translate(-50%,-50%);
  background-image: linear-gradient(rgb(66, 65, 55), rgb(126, 126, 126));
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
   transition: background-size .7s, background-position .5s ease-in-out;
}

span:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}

.d-flex {
  justify-content: center;
  border: 20px solid #ccc; /* bordure solide de couleur grise */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* ombre portée noire et légèrement floue */
  width: 500px; /* définit une largeur spécifique de 500 pixels */
  margin: 0 auto; /* centre le formulaire horizontalement */
  border-radius: 20px; /* arrondit les coins avec un rayon de 10 pixels */
}

.d-flex form {
  padding-bottom: 50px;
   position:relative; 
   top:2rem;
}

#handshake 
{
  position: absolute; /* positionne l'image par rapport au conteneur */
  bottom: 0px; /* positionne l'image 10 pixels depuis le bas */
  right: 20px; /* positionne l'image 10 pixels depuis la droite */
  object-fit: cover;
  opacity: 0.5;
}

#eraser 
{
  position: absolute; /* positionne l'image par rapport au conteneur */
  bottom: 220px; /* positionne l'image 10 pixels depuis le bas */
  right: 20px; /* positionne l'image 10 pixels depuis la droite */
  object-fit: cover;
  width: 400px; /* définit la largeur de l'image à 200 pixels */
  height: auto; /* définit la hauteur de l'image proportionnellement à la largeur */
  opacity: 0.5;
}

#disagree {
  position: absolute; /* positionne l'image par rapport au conteneur */
  bottom: 0px; /* positionne l'image 10 pixels depuis le bas */
  top: 350px; /* positionne l'image 10 pixels depuis le bas */
  left: 900px; /* positionne l'image 10 pixels depuis la droite */
  width: 300px;
  object-fit: cover;
  opacity: 0.5;

}